<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="css/about.css">
    <title>About</title>
</head>

<body>
    <div class="row">
        <h1>Sobre Textbook</h1>
        <div class="features col">
            <h2>Features</h2>
            <h3>Creación de usuarios y Log in</h3> 
            <p>En la página principal se puede ir a una página que nos permite logearnos y a otra que nos permite registrarnos en caso de que no tengamos una cuenta.</p> 
            <h3>Postear publicaciones</h3> 
            <p>Cuando nos logeamos, tenemos la posibilidad de crear publicaciones y postearlas. Sin embargo, solo se permite texto.</p> 
            <h3>Comentarios</h3> 
            <p>Podemos hacer comentarios en publicaciones.</p>
            <h3>Borrar y editar publicaciones y comentarios</h3>
            <p>Se pueden borrar y editar las publicaciones y comentarios que hemos hecho.</p> 
            <h3>Lazy load de publicaciones</h3> 
            <p>Existe un boton que nos permite cargar publicaciones. La carga se realiza de a rangos horarios (se cargan todas las publicaciones publicadas en el rango de una hora) por lo que cargar publicaciones antiguas puede llevar bastante tiempo.</p>
            <h3>Perfil</h3> 
            <p>Podemos ver nuestro perfil donde habrá cierta información de nuestro usuario y la lista de nuestros posts.</p> 
            <h3>Buscar usuarios</h3>
            <p>Podemos buscar usuarios por su username y ver sus perfiles.</p> 
            <h3>Seguir usuarios</h3> 
            <p>Al entrar al perfil de otro usuario podemos seguirlo y además ver su cantidad de seguidores y seguidos (en nuestro propio perfil tambien). Una vez que los sigamos, sus publicaciones nos apareceran en la página principal.</p> 
            <h3>Configuraciones</h3> 
            <p>Podemos cambiar los datos de nuestro perfil y tambien nuestro usuario en configuraciones.</p> 
            <h3>Chat</h3> 
            <p>Podemos empezar chats con otros usuarios si los seguimos, o abrir chats ya empezados. Cabe aclarar que cuando un mensaje entra, el chat no se actualiza automáticamente por lo que debe ser cerrado y volver a abrirse para actualizar los mensajes. El chat es accesible solo desde la página principal.</p> 
        </div>
    </div>
    <div class="row">
        <div class="inicio col">
            <a href="/">Regresar al inicio</a>
        </div>
    </div>
</body>

</html>