<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/chat-tab.css">
    <link rel="stylesheet" href="css/publicaciones.css">
    <link rel="stylesheet" href="css/aside.css">
    <link rel="stylesheet" href="css/search.css">
    <link rel="stylesheet" href="css/scrollbar.css">
    <title>Home</title>
</head>

<body>
    <div class="row page">
        <div class="col-4 aside-filler"></div> <!--Filler para el aside-->
        <aside class="col-4">
            <div>
                <a href=""><i class="fa-solid fa-book"></i><p>Texbook</p></a>
            </div>
            <div>
                <a href="/profile?"><i class="fa-solid fa-user"></i><p>Perfil</p></a>
            </div>
            <div>
                <a href="/config"><i class="fa-solid fa-key"></i><p>Configuraciones</p></a>
            </div>
            <div>
                <div class="search"><a href="/search"><i class="fa-solid fa-magnifying-glass"></i></a><input type="text" id="search-user" placeholder="Buscar usuario"></div>
                <div class="search-result"></div>
            </div>
            <div class="chat-responsive-tab">
                <a href="/chat"><i class="fa-solid fa-comments"></i><p>Chat</p></a>
            </div>
            <div>
                <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i><p>Finalizar sesión</p></a>
            </div>
        </aside>
        <main class="col">
            <form class="crear-publicacion" action="" method="post">
                <textarea name="publicacion" id="publicacion" class="publicacion" cols="30" rows="2" placeholder="¿Qué estás pensando?"></textarea>
                <div class="submit-container">
                    <input type="submit" class="publicar" value="Publicar">
                </div>
            </form>
            <!--<button class="cargar-nuevas">Cargar nuevas publicaciones</button>-->
            <div class="publicaciones"></div>
            <div class="comentarios"></div>
            <div class="cargar-mas-container">
                <button class="cargar-mas">Cargar más publicaciones</button>
                <div class="cargando-hidden"></div>
            </div>    
        </main>
        <div class="col-3 chat-filler"></div> <!--Filler para el aside-->
        <section class="col-3 chat-tab"></section>
    </div>
    <script src="js/getUserId.js"></script>
    <script src="js/getPostId.js"></script>
    <script src="js/home/publicar.js"></script>
    <script src="js/publicaciones/publicacionLikes.js"></script>
    <script src="js/publicaciones/publicacionComentarios.js"></script>
    <script src="js/publicaciones/publicacionOpciones.js"></script>
    <script src="js/publicaciones/createPublicationCode.js"></script>
    <script src="js/home/cargarPublicaciones.js"></script>
    <script src="js/searchUser.js"></script>
    <script src="js/chat.js"></script>
    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>