<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
    <title>Textbook</title>
</head>
<body>
    <div class="titulo container">
        <h1>Textbook</h1>
        <p>Para publicar todo el texto que desees.</p>
    </div>
    <div class="cuerpo container"> <!--Cuerpo de la página-->
        <div class="titulo-cuerpo container.fluid">
            <h2>Bienvenido</h2>
        </div>
        <div class="ingresar container">
            <button id="login">Login</button>
            <button id="registrarse">Registrarse</button>
        </div>
        <div class="about">
            <a href="/about">Información sobre la página</a>
        </div>
    </div> 
    <footer></footer> <!--Footer-->

    <script src="js/index.js"></script>
    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>